* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
}

.cartao {
    width: 260px;
    border-radius: 10px;

}

.cartao-imagem {
    width: 100%;
    border: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: oldlace;
}

main {
    flex: 1;
}


.cabecalho-link {
    color: rgb(255, 255, 255);
    text-decoration: nome;
}

h1 {
    color: black;
    font-size: 24px;
}

footer {
   background-color: rgb(203, 203, 203);
   padding: 15px 25px;
   color: black;
}

.cartao-interno {
    position: relative;
}

.cartao-frente, .cartao-verso {
    position: relative;
    border-radius: 12px;
    box-shadow:0 6px 12px white;
}